@{
    ViewData["Title"] = "Staff-Home";
}

<h2>Staff Homepage</h2>
<h3>Hello, @ViewBag.staffName </h3>

@Html.ActionLink("Tenant List", "TenantList", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })
@Html.ActionLink("Payment List", "PaymentList", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })
@Html.ActionLink("Enter Complaint", "CreateRentalComplaint", "Complaints", null, new { @class = "btn btn-primary btn-lg btn-block" })
@if (User.IsInRole("Supervisor"))
{
    @Html.ActionLink("Pending Complaints", "Index", "Complaints", null, new { @class = "btn btn-primary btn-lg btn-block" })
    @Html.ActionLink("Staff Rental Summary", "StaffRentalSummary", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })
    @Html.ActionLink("Staff Apartment Details", "StaffApartmentDetails", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })
}
else if (User.IsInRole("Manager"))
{
    @Html.ActionLink("Automobile Make Count", "AutomobileMakeCount", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })
    @Html.ActionLink("Vacant Apartments List", "VacantApartmentsList", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })
    @Html.ActionLink("Lease Length List", "LeaseLengthList", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })
    @Html.ActionLink("Rent Collected", "RentCollected", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })
}
else if (User.IsInRole("Assistant"))
{
    @Html.ActionLink("New Rental", "AvailableApartments", "Staffs", null, new { @class = "btn btn-primary btn-lg btn-block" })

}
